body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.head-part {
    text-align: center;
    color: white;
    background-image: url(images/donation13.jpg);
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 100px 50px black inset;
    padding-top: 150px;
}

.head-part h1 {
    font-size: 65px;
}

.donate-now {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 26, 83);
    padding: 12px 30px;
    border-radius: 5px;
}

.donate-today {
    text-align: center;
    margin-top: 130px;
}

.donate-today h1 {
    font-size: 40px;
}

.donate-today input {
    text-align: center;
    border: none;
    width: 700px;
    padding: 15px;
    border-bottom: 2px solid gray;
}

.donate-today div a {
    text-decoration: none;
    color: gray;
    margin: 20px;
    padding: 38px 25px;
    border-radius: 5px;
    font-size: 25px;
}

#select {
    border-radius: 5px;
    color: rgb(255, 26, 83);
    border: 2px solid rgb(255, 26, 83);
    background-color: rgba(255, 26, 83, 0.153);
}

.donate-plan {
    text-align: center;
    align-content: center;
    margin-top: 130px;
}

.donate-plan h1 {
    font-size: 40px;
}

.donate-plan-list div {
    text-align: left;
    width: 18%;
    height: 230px;
    background-color: chocolate;
    margin-left: 25px;
    padding: 30px;
    padding-top: 60px;
    border-radius: 5px;
    justify-content: center;
}

.donate-plan-list {
    display: flex;
}

#food {
    background-color: rgba(0, 255, 255, 0.141);
    margin-left: 230px;
}

#shelter {
    background-color: rgba(222, 184, 135, 0.344);
}

#education {
    background-color: rgba(0, 0, 255, 0.14);
}

.extra {
    margin-left: 280px;
}

.extra iframe {
    align-items: center;
    width: 1000px;
    height: 580px;
}

.extra h1 {
    font-size: 35px;
}


.updates {
    text-align: center;
}

.updates h1 {
    font-size: 40px;
}

.updates div {
    text-align: center;
    background-color: rgba(233, 150, 122, 0.368);
    width: 800px;
    height: 110px;
    margin: 10px;
    padding-top: 75px;
    margin-left: 370px;
    margin-bottom: 150px;
}

.updates div input {
    width: 320px;
    height: 44px;
    border: none;
    background-color: rgba(128, 128, 128, 0.326);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.updates div button {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 26, 83);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -5px;
    border: none;
    width: 120px;
    height: 45px;

}

footer {
    text-align: center;
    padding: 30px;
    background-color: black;
    margin: 0;
    color: white;
}

footer h1 {
    color: rgb(255, 26, 83);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}